*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    direction: rtl;
    background:linear-gradient(0deg, rgba(8, 12, 43, 0.582), rgba(7, 11, 41, 0.568)), url("./assets/img/low-angle-shot-mesmerizing-starry-sky.jpg");
    backdrop-filter: blur(0.5px);
    background-size: cover;
    color: white;
    font-size: 35px;
    padding: 10px 0;
}

aside{
    width: 570px;
}

aside nav{
    height: 100%;
}

main{
    flex-grow: 1;
}

ul{
    height: 100%;
    display: flex;
    flex-direction: column;
}

li{
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 100%;
    border-radius: 50px 0 0 35px;
    flex-grow: 1;
    padding-right: 200px;
    align-items: start;
}

ul .active{
    background-color: rgba(113, 113, 139, 0.3);
    height: 170px;
}

li span{
    display: none;
}

ul li img{
    width: 180px;
    height: 50px;
    cursor: pointer;
}

ul .active img{
    width: 280px;
    height: 80px;
}

ul .active span{
    display: inline-block;
    cursor: pointer;
}

#meat-logo{
    height: 70px;
}

ul .active #meat-logo{
    height: 100px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}